.ant-tabs-nav .ant-tabs-tab {
    cursor: pointer!important;
    margin: 0 5px 0 0!important;
    padding: 12px 12px 12px 15px!important;
}
 .ant-tabs-nav .ant-tabs-tab-active {
     color: #d4282d!important;
 }
.ant-tabs-ink-bar {
    background-color: #d4282d;
}
.ant-tabs-bar {
     margin: 0 0 1px 0;
    border-bottom: 1px solid #e8e8e8;
    outline: none;
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-tabs-nav-container {
    padding-left: 20px;
    max-width: 1300px;
    margin: 0 auto;
}
.ant-progress-bg {
    height: 12px!important;
    border-radius: 0px!important;
    background-color: rgb(255, 229, 229);
}
.ant-progress-inner {
    border: 1px solid #F2CECD;
    background-color: transparent;
}
.ant-pagination-item-active {
    font-weight: 500;
    background: #fff;
    border-color: #ff3222;
}
.ant-pagination-item-active a {
    color: red;
}
.ant-modal-body {
    height: 330px!important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ant-progress-status-success .ant-progress-bg {
    background-color: #ff3222;
    border: 1px solid #ff3222;
}
.ant-progress-status-success .ant-progress-inner {
    border: none;
}
.ant-progress-status-success .ant-progress-text {
     color: #ff3222;
}
